<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flexdule">


    <!--android:debuggable="true"-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fxd_round"
        android:label="Flexdule"
        android:roundIcon="@mipmap/ic_launcher_fxd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".android.control.ScheduleListActivity"></activity>
        <activity android:name=".android.control.ActivityEditActivity" />
        <activity android:name=".android.control.ScheduleEditActivity" />
        <activity
            android:name=".android.control.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>